<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyz.ob.article.mapper.ClassifyMapper">

     <resultMap id="ClassifyMap" type="classify">
        <id property="id" column="id"/>
        <result property="delflag" column="delflag"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="childType" column="childType"/>
        <result property="count" column="count"/>
    </resultMap>

    <sql id="base_column">
        cl.id,cl.delflag,cl.creator,cl.createTime,cl.name,cl.type,cl.childType, cl.count
    </sql>
    
    <sql id="expand_column">
        cl.id,cl.delflag,cl.creator,cl.createTime,cl.name,cl.type,cl.childType, cot.num as count
    </sql>
    
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO classify
        (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                delflag,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="name != null ">
                name,
                </if>
                <if test="type != null ">
                type,
                </if>
                <if test="childType != null ">
                childType
                </if>
            </trim>
        )
        VALUES (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="name != null ">
                #{name},
                </if>
                <if test="type != null ">
                #{type},
                </if>
                <if test="childType != null ">
                #{childType}
                </if>
            </trim>
        )
    </insert>
    
    <update id="delete" >
        UPDATE classify set delflag = #{delflag}
         WHERE id = #{ id }
    </update>
    
    <update id="update" parameterType="classify">
        UPDATE classify SET 
            <trim suffixOverrides=",">
                <if test="name != null ">
                name = #{name},
                </if>
            </trim>
         WHERE id = #{id}
         <if test="creator">
         AND creator = #{creator}
         </if>
    </update>
    
    <select id="get" resultType="classify" parameterType="classify">
    SELECT 
    <include refid="base_column"/>
    FROM classify cl
    <where>
        <trim prefixOverrides="AND">
        <if test="id != null">
        AND cl.id = #{id}
        </if>
        <if test="name != null">
        AND cl.`name` = #{name}
        </if>
        <if test="creator != null">
        AND cl.creator = #{creator}
        </if>
        <if test="delflag != null">
        AND cl.delflag = #{delflag}
        </if>
        </trim>
    </where>
    </select>

    <select id="getList" resultType="classify" parameterType="classify">
    SELECT 
    <include refid="expand_column"/>
    FROM classify cl
    LEFT JOIN (
    <choose>
       <when test="childType == 1">
       SELECT COUNT(0) AS num, di.classify as cid FROM diary di WHERE di.delflag = #{delflag} GROUP BY di.classify
       </when>
       <when test="childType == 4">
       SELECT COUNT(0) AS num, no.classify as cid FROM novel no WHERE no.delflag = #{delflag} GROUP BY no.classify
       </when>
       <otherwise>
       SELECT SUM(temp.num) as num, temp.cid as cid FROM (
         SELECT COUNT(0) AS num, di.classify as cid FROM diary di WHERE di.delflag = #{delflag} GROUP BY di.classify
         UNION ALL
         SELECT COUNT(0) AS num, no.classify as cid FROM novel no WHERE no.delflag = #{delflag} GROUP BY no.classify
       ) temp GROUP BY temp.cid 
       </otherwise>
    </choose>
    ) cot ON cl.id = cot.cid
        WHERE 
    <trim prefixOverrides="AND">
        <if test="delflag != null ">
        AND cl.`delflag` = #{delflag}
        </if>
        <if test="creator != null ">
        AND (cl.`creator` = #{creator} OR cl.`type` = 1)
        </if>
        <if test="name != null ">
        AND LOCATE(#{name}, cl.`name`) > 0
        </if>
        <if test="type != null ">
        AND cl.`type` = #{type}
        </if>
        <if test="minCount != null">
        AND <![CDATA[cot.num >= #{minCount}]]>
        </if>
        <if test="maxCount != null">
        AND <![CDATA[cot.num <= #{maxCount}]]>
        </if>
        <if test="childType != null ">
        AND cl.`childType` = #{childType}
        </if>
    </trim>
    </select>

</mapper>