<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyz.ob.article.mapper.PortionMapper">

     <resultMap id="PortionMap" type="portion">
        <id property="id" column="id" javaType="Integer"/>
        <result property="delflag" column="delflag"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyTime" column="modifyTime"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="novelId" column="novelId"/>
        <result property="wordsNum" column="wordsNum"/>
        <result property="number" column="number"/>
        <result property="sectionNum" column="sectionNum"/>
        <result property="type" column="type"/>
        <association property="novel" javaType="novel">
            <id property="id" column="no_id"/>
            <result property="title" column="no_title"/>
        </association>
        <collection property="sections" ofType="section">
            <id property="id" column="se_id"/>
            <result property="title" column="se_title"/>
            <result property="portionId" column="se_portionId"/>
            <result property="wordsNum" column="se_wordsNum"/>
            <result property="number" column="se_number"/>
        </collection>
    </resultMap>

     <sql id="base_column">
        po.id,po.delflag,po.creator,po.createTime,po.modifier,po.modifyTime,po.title,po.content,po.novelId,po.wordsNum,po.number,po.sectionNum,po.type
     </sql>
     
     <sql id="expand_base_column">
        <include refid="base_column" />,se.id as se_id,se.title as se_title,se.portionId as se_portionId,se.wordsNum as se_wordsNum,se.number as se_number
     </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO portion
        (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                delflag,
                </if>
                <if test="creator != null ">
                creator,
                </if>
                <if test="createTime != null ">
                createTime,
                </if>
                <if test="modifier != null ">
                modifier,
                </if>
                <if test="modifyTime != null ">
                modifyTime,
                </if>
                <if test="title != null ">
                title,
                </if>
                <if test="content != null ">
                content,
                </if>
                <if test="novelId != null ">
                novelId,
                </if>
                <if test="wordsNum != null ">
                wordsNum,
                </if>
                <if test="number != null ">
                number,
                </if>
                <if test="type != null ">
                type,
                </if>
            </trim>
        )
        VALUES (
            <trim suffixOverrides=",">
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT},
                </if>
                <if test="creator != null ">
                #{creator},
                </if>
                <if test="createTime != null ">
                #{createTime},
                </if>
                <if test="modifier != null ">
                #{modifier},
                </if>
                <if test="modifyTime != null ">
                #{modifyTime},
                </if>
                <if test="title != null ">
                #{title},
                </if>
                <if test="content != null ">
                #{content},
                </if>
                <if test="novelId != null ">
                #{novelId},
                </if>
                <if test="wordsNum != null ">
                #{wordsNum},
                </if>
                <if test="number != null ">
                #{number},
                </if>
                <if test="type != null">
                #{type},
                </if>
            </trim>
        )
    </insert>

    <update id="delete" parameterType="portion">
        UPDATE portion set delflag = #{delflag} , modifier = #{modifier},modifyTime = #{modifyTime} WHERE id = #{ id }
    </update>

    <update id="update" parameterType="portion">
        UPDATE portion SET 
            <trim suffixOverrides=",">
                <if test="modifier != null ">
                modifier = #{modifier},
                </if>
                <if test="modifyTime != null ">
                modifyTime = #{modifyTime},
                </if>
                <if test="title != null ">
                title = #{title},
                </if>
                <if test="content != null ">
                content = #{content},
                </if>
                <if test="wordsNum != null ">
                wordsNum = #{wordsNum},
                </if>
                <if test="number != null ">
                number = #{number},
                </if>
            </trim>
         WHERE id = #{id} AND creator = #{creator}
    </update>

    <update id="updateFull" parameterType="portion">
        UPDATE portion SET 
            delflag = #{delflag,jdbcType=TINYINT},
            modifier = #{modifier},
            modifyTime = #{modifyTime},
            title = #{title},
            content = #{content},
            novelId = #{novelId},
            wordsNum = #{wordsNum},
            number = #{number}
         WHERE id = #{id} AND creator = #{creator}
    </update>
    
    <select id="get" resultMap="PortionMap" parameterType="portion">
    SELECT
    <include refid="base_column"/>, no.id as no_id, no.title as no_title
    FROM portion po
    LEFT JOIN novel no ON po.novelId = no.id
    <where>
    <trim prefixOverrides="AND">
    <if test="id != null">
    AND po.id = #{id}
    </if>
    <if test="delflag != null">
    AND po.delflag = #{delflag}
    </if>
    </trim>
    </where>
    </select>

    <select id="getList" resultType="portion" parameterType="portion">
    SELECT 
        <include refid="base_column"/>
        FROM portion po
        WHERE 
    <trim prefixOverrides="AND">
        <if test="delflag != null ">
        AND po.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test="creator != null ">
        AND po.`creator` = #{creator}
        </if>
        <if test="novelId != null ">
        AND po.`novelId` = #{novelId}
        </if>
    </trim>
    ORDER BY po.number
    </select>

    <select id="getPortionListSections" resultMap="PortionMap" parameterType="portion">
        SELECT 
        <include refid="expand_base_column"/>
        FROM portion po
        LEFT JOIN section se ON po.id = se.portionId
        WHERE 
    <trim prefixOverrides="AND">
        <if test="id != null ">
        AND po.`id` = #{id}
        </if>
        <if test="delflag != null ">
        AND po.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
        <if test="creator != null ">
        AND po.`creator` = #{creator}
        </if>
        <if test="novelId != null ">
        AND po.`novelId` = #{novelId}
        </if>
        <if test="wordsNum != null ">
        AND po.`wordsNum` = #{wordsNum}
        </if>
    </trim>
    ORDER BY po.number,se.number
    </select>

</mapper>