<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyz.ob.ouser.mapper.OuserMapper">

     <resultMap id="OuserMap" type="ouser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nikename" column="nikename"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="delflag" column="delflag"/>
    </resultMap>
    
   <!--  <resultMap id="PadminMap" type="padmin">
        <id property="id" column="id"/>
        <result property="accountname" column="accountname"/>
        <result property="state" column="state"/>
        <result property="relatedName" column="relatedName"/>
        <collection property="roles" ofType="role">
            <id property="id" column="roid"/>
            <result property="name" column="roname"/>
        </collection>
    </resultMap> -->

     <sql id="base_column">
        ou.id,ou.username,ou.password,ou.nikename,ou.delflag
     </sql>
     
     <sql id="base_column_no_password">
        ou.id,ou.username,ou.nikename,ou.delflag
     </sql>
     
     <select id="get" resultMap="OuserMap">
     select 
     <include refid="base_column" />
     from ouser ou
     <where>
     <trim prefixOverrides="AND">
     <if test="id != null">
         ou.id = #{id}
     </if>
     <if test="username != null">
         ou.username = #{username}
     </if>
     </trim>
     </where>
     </select>
     
     <select id="getList" resultMap="OuserMap" parameterType="ouser">
     SELECT
     <include refid="base_column_no_password"/>
     FROM ouser ou
     <where>
         <trim prefixOverrides="AND">
         <if test="id != null">
         AND id = #{id}
         </if>
         <if test="username != null">
         AND LOCATE(#{username}, ou.`username`) > 0
         </if>
         <if test="nikename != null">
         AND LOCATE(#{nikename}, ou.`nikename`) > 0
         </if>
         </trim>
     </where>
     </select>
     
     <update id="update" parameterType="ouser">
        UPDATE ouser SET 
            <trim suffixOverrides=","> 
                <if test="accountname != null ">
                username = #{username},
                </if>
                <!-- <if test="password != null ">
                password = #{password},
                </if> -->
                <if test="nikename != null ">
                nikename = #{nikename},
                </if>
                <if test="avatar != null ">
                avatar = #{avatar},
                </if>
                <if test="relatedid != null ">
                relatedid = #{relatedid},
                </if>
                <if test="autologin_mac != null ">
                autologin_mac = #{autologin_mac},
                </if>
                <if test="createtime != null ">
                createtime = #{createtime},
                </if>
                <if test="state != null ">
                state = #{state,jdbcType=TINYINT},
                </if>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT}
                </if>
            </trim>
         WHERE id = #{id}
    </update>

    <!-- <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="accountname != null ">
                accountname,
                </if>
                <if test="password != null ">
                password,
                </if>
                <if test="nikename != null ">
                nikename,
                </if>
                <if test="avatar != null ">
                avatar,
                </if>
                <if test="relatedid != null ">
                relatedid,
                </if>
                <if test="autologin_mac != null ">
                autologin_mac,
                </if>
                <if test="createtime != null ">
                createtime,
                </if>
                <if test="state != null ">
                state,
                </if>
                <if test="delflag != null ">
                delflag
                </if>
            </trim>
            <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
                <if test="accountname != null ">
                #{accountname},
                </if>
                <if test="password != null ">
                #{password},
                </if>
                <if test="nikename != null ">
                #{nikename},
                </if>
                <if test="avatar != null ">
                #{avatar},
                </if>
                <if test="relatedid != null ">
                #{relatedid},
                </if>
                <if test="autologin_mac != null ">
                #{autologin_mac},
                </if>
                <if test="createtime != null ">
                #{createtime},
                </if>
                <if test="state != null ">
                #{state,jdbcType=TINYINT},
                </if>
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT}
                </if>
            </trim>
    </insert> -->

    <!-- <update id="delete" >
        UPDATE admin set delflag = #{delflag}
         WHERE id = #{ key })
    </update>

    <update id="state" >
        UPDATE admin set state = #{state}
         WHERE id = #{ key })
    </update>


    <select id="getById" resultType="admin" parameterType="admin">
        SELECT 
        <include refid="base_column"/>
        FROM admin ad
        WHERE ad.id = #{id} AND ad.delflag = #{delflag,jdbcType=TINYINT}
    </select>

    <select id="getList" resultType="admin" parameterType="admin">
        SELECT 
        <include refid="base_column"/>
        FROM admin ad
        WHERE 
    <trim>
        <if test=" != null ">
        AND ad.`id` = #{id}
        </if>
        <if test=" != null ">
        AND ad.`accountname` = #{accountname}
        </if>
        <if test=" != null ">
        AND ad.`password` = #{password}
        </if>
        <if test=" != null ">
        AND ad.`nikename` = #{nikename}
        </if>
        <if test=" != null ">
        AND ad.`avatar` = #{avatar}
        </if>
        <if test=" != null ">
        AND ad.`relatedid` = #{relatedid}
        </if>
        <if test=" != null ">
        AND ad.`autologin_mac` = #{autologin_mac}
        </if>
        <if test=" != null ">
        AND ad.`createtime` = #{createtime}
        </if>
        <if test=" != null ">
        AND ad.`state` = #{state,jdbcType=TINYINT}
        </if>
        <if test=" != null ">
        AND ad.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
    </trim>
    </select>

    <select id="getByStr" resultType="admin" parameterType="admin">
        SELECT 
        <include refid="base_column"/>
        FROM admin ad
        WHERE ad.`accountname` = #{key} 
        AND ad.`delflag` = #{delflag,jdbcType=TINYINT}
        AND ad.`state` = IFNULL(#{state,jdbcType=TINYINT},ad.`state`)
    </select>

    <select id="getListByStr" resultType="admin" parameterType="admin">
        SELECT 
        <include refid="base_column"/>
        FROM admin ad
        WHERE ad.`accountname` = #{key} 
        AND ad.`delflag` = #{delflag,jdbcType=TINYINT}
        AND ad.`state` = IFNULL(#{state,jdbcType=TINYINT},ad.`state`)
    </select>
    
    <select id="getListByForm" 
            resultMap="PadminMap" 
            parameterType="adminForm">
	SELECT
	   ad.id as id, ad.accountname as accountname, ad.state as state,
	   em.name as relatedName, ro.id as roid, ro.name as roname
	FROM
	    admin ad
	LEFT JOIN
	    employee em ON ad.relatedid=em.id
	LEFT JOIN
	    admin_role ar ON ad.id=ar.aid
	LEFT JOIN
	    role ro ON ro.id=ar.rid
	WHERE
	    ad.delflag=#{delflag,jdbcType=TINYINT}
	AND
	    ro.delflag=#{delflag,jdbcType=TINYINT}   
	AND
	    ar.delflag = #{roleDelflag, jdbcType=TINYINT}
	<if test="state!=null">
	AND 
	    ad.state=#{state,jdbcType=TINYINT}
	</if>
	<if test="roleState != null">
	AND
	    ro.state =#{roleState, jdbcType=TINYINT}
	</if>
	<if test="id !=null">
	AND ad.id =#{id,jdbcType=INTEGER}
	</if>
	<if test="accountname !=null">
	AND ad.accountname=#{accountname,jdbcType=VARCHAR}
	</if>
	<if test=" nikename!=null">
	AND ad.nikename=#{nikename,jdbcType=VARCHAR}
	</if>
	<if test="relatedCode !=null">
	AND em.ecode = #{relatedCode,jdbcType=VARCHAR}
	</if>
	<if test="relatedName !=null">
	AND em.name=#{relatedName,jdbcType=VARCHAR}
	</if> 
	</select>
	
	<select id="getAdminsByRole" resultMap="AdminMap">
	SELECT 
	  ad.id, ad.accountname
	FROM
	  admin ad
	LEFT JOIN
	  admin_role ad_ro ON ad.id = ad_ro.aid
	LEFT JOIN
	  role ro ON ad_ro.rid = ro.id
	WHERE
	  ro.id = #{roleId}
	AND ad.delflag = #{delflag, jdbcType=TINYINT}
	AND ro.delflag = #{delflag, jdbcType=TINYINT}
	AND ad_ro.delflag = #{delflag}
	<if test="state != null">
	AND ad.state = #{state, jdbcType=TINYINT}
	</if>
	<if test="roleState != null">
	AND ro.state = #{roleState, jdbcType=TINYINT}
	</if>
	</select> -->

</mapper>