<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyz.ob.ouser.mapper.OuserMapper">

     <resultMap id="OuserMap" type="ouser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nikename" column="nikename"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
        <result property="delflag" column="delflag"/>
    </resultMap>
    
   <!--  <resultMap id="PadminMap" type="padmin">
        <id property="id" column="id"/>
        <result property="accountname" column="accountname"/>
        <result property="state" column="state"/>
        <result property="relatedName" column="relatedName"/>
        <collection property="roles" ofType="role">
            <id property="id" column="roid"/>
            <result property="name" column="roname"/>
        </collection>
    </resultMap> -->

     <sql id="base_column">
        ou.id,ou.username,ou.password,ou.nikename,ou.delflag
     </sql>
     
     <sql id="base_column_no_password">
        ou.id,ou.username,ou.nikename,ou.delflag
     </sql>
     
     <select id="get" resultMap="OuserMap">
     select 
     <include refid="base_column" />
     from ouser ou
     <where>
     <trim prefixOverrides="AND">
     <if test="id != null">
         ou.id = #{id}
     </if>
     <if test="username != null">
         ou.username = #{username}
     </if>
     </trim>
     </where>
     </select>
     
     <select id="getList" resultMap="OuserMap" parameterType="ouser">
     SELECT
     <include refid="base_column_no_password"/>
     FROM ouser ou
     <where>
         <trim prefixOverrides="AND">
         <if test="id != null">
         AND id = #{id}
         </if>
         <if test="username != null">
         AND LOCATE(#{username}, ou.`username`) > 0
         </if>
         <if test="nikename != null">
         AND LOCATE(#{nikename}, ou.`nikename`) > 0
         </if>
         </trim>
     </where>
     </select>
     
     <update id="update" parameterType="ouser">
        UPDATE ouser SET 
            <trim suffixOverrides=","> 
                <if test="accountname != null ">
                username = #{username},
                </if>
                <!-- <if test="password != null ">
                password = #{password},
                </if> -->
                <if test="nikename != null ">
                nikename = #{nikename},
                </if>
                <if test="avatar != null ">
                avatar = #{avatar},
                </if>
                <if test="relatedid != null ">
                relatedid = #{relatedid},
                </if>
                <if test="autologin_mac != null ">
                autologin_mac = #{autologin_mac},
                </if>
                <if test="createtime != null ">
                createtime = #{createtime},
                </if>
                <if test="state != null ">
                state = #{state,jdbcType=TINYINT},
                </if>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT}
                </if>
            </trim>
         WHERE id = #{id}
    </update>


    <!-- 


    <select id="getList" resultType="admin" parameterType="admin">
        SELECT 
        <include refid="base_column"/>
        FROM admin ad
        WHERE 
    <trim>
        <if test=" != null ">
        AND ad.`id` = #{id}
        </if>
        <if test=" != null ">
        AND ad.`accountname` = #{accountname}
        </if>
        <if test=" != null ">
        AND ad.`password` = #{password}
        </if>
        <if test=" != null ">
        AND ad.`nikename` = #{nikename}
        </if>
        <if test=" != null ">
        AND ad.`avatar` = #{avatar}
        </if>
        <if test=" != null ">
        AND ad.`relatedid` = #{relatedid}
        </if>
        <if test=" != null ">
        AND ad.`autologin_mac` = #{autologin_mac}
        </if>
        <if test=" != null ">
        AND ad.`createtime` = #{createtime}
        </if>
        <if test=" != null ">
        AND ad.`state` = #{state,jdbcType=TINYINT}
        </if>
        <if test=" != null ">
        AND ad.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
    </trim>
    </select>

	 -->
	 
	 <select id="getListByMap" resultMap="OuserMap" parameterType="map"> 
	SELECT 
	<include refid="base_column_no_password" /> 
	FROM
	  ouser ou
	LEFT JOIN
	  roles_user ru ON ou.id = ru.user_id
	LEFT JOIN
	  roles ro ON ru.role_id = ro.id
	<where>
	<trim prefixOverrides="AND">
	    <if test="roleId != null">
	    AND ro.id = #{roleId}
	    </if>
		<if test="delflag != null">
		AND ou.delflag = #{delflag}
		AND ru.delflag = #{delflag}
		AND ro.delflag = #{delflag}
		</if>
	</trim>
	</where>
	</select>

</mapper>