<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyz.ob.authority.mapper.ResourcesMapper">

     <resultMap id="ResourceMap" type="resources">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="authId" column="authId"/>
        <result property="name" column="name"/>
        <result property="displayName" column="displayName"/>
        <result property="url" column="url"/>
        <result property="withParam" column="withParam"/>
        <result property="type" column="type"/>
        <result property="sort" column="sort"/>
        <result property="describes" column="describes"/>
        <result property="locking" column="locking"/>
        <result property="state" column="state"/>
        <result property="delflag" column="delflag"/>
    </resultMap>
    
    <resultMap type="resources" id="AdditionMap" extends="ResourceMap">
    
    </resultMap>

     <sql id="base_column">
        re.id,re.pid,re.authId,re.name,re.displayName,re.url,re.withParam,re.type
       ,re.describes,re.sort,re.locking,re.state,re.delflag
     </sql>
     
     <sql id="addition_column">
     <include refid="base_column" />
     </sql>
     
     <sql id="list_params">
     <where>
        <if test="id != null ">
        AND re.`id` = #{id}
        </if>
        <if test="pid != null ">
        AND re.`pid` = #{pid}
        </if>
        <if test="authId != null ">
        AND re.`authId` = #{authId}
        </if>
        <if test="name != null ">
        AND LOCATE(#{name}, re.`name`) > 0
        </if>
        <if test="displayName != null ">
        AND LOCATE(#{displayName}, re.`displayName`) > 0
        </if>
        <if test="url != null ">
        AND LOCATE(#{url}, re.`url`) > 0
        </if>
        <if test="type != null ">
        AND re.`type` = #{type}
        </if>
        <if test="describes != null ">
        AND LOCATE(#{describes}, re.`describes`) > 0
        </if>
        <if test="locking != null ">
        AND re.`locking` = #{locking}
        </if>
        <if test="state != null ">
        AND re.`state` = #{state,jdbcType=TINYINT}
        </if>
        <if test="delflag != null ">
        AND re.`delflag` = #{delflag,jdbcType=TINYINT}
        </if>
    </where>
     </sql>
     
     <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO resources
        (
            <trim>
                <if test="id != null ">
                id,
                </if>
                <if test="pid != null ">
                pid,
                </if>
                <if test="authId != null ">
                authId,
                </if>
                <if test="name != null ">
                name,
                </if>
                <if test="displayName != null ">
                displayName,
                </if>
                <if test="url != null ">
                url,
                </if>
                <if test="withParam != null">
                withParam,
                </if>
                <if test="type != null ">
                type,
                </if>
                <if test="sort != null ">
                sort,
                </if>
                <if test="describes != null ">
                describes,
                </if>
                <if test="locking != null ">
                `locking`,
                </if>
                <if test="state != null ">
                state,
                </if>
                <if test="delflag != null ">
                delflag
                </if>
            </trim>
        )
        VALUES (
            <trim>
                <if test="id != null ">
                #{id},
                </if>
                <if test="pid != null ">
                #{pid},
                </if>
                <if test="authId != null ">
                #{authId},
                </if>
                <if test="name != null ">
                #{name},
                </if>
                <if test="displayName != null ">
                #{displayName},
                </if>
                <if test="url != null ">
                #{url},
                </if>
                <if test="withParam != null">
                #{withParam},
                </if>
                <if test="type != null ">
                #{type},
                </if>
                <if test="sort != null ">
                #{sort},
                </if>
                <if test="describes != null ">
                #{describes},
                </if>
                <if test="locking != null ">
                #{locking},
                </if>
                <if test="state != null ">
                #{state,jdbcType=TINYINT},
                </if>
                <if test="delflag != null ">
                #{delflag,jdbcType=TINYINT}
                </if>
            </trim>
        )
    </insert>
    
    <update id="delete" >
        UPDATE resources set delflag = #{delflag}
         WHERE id = #{ id }
    </update>
    
    <update id="update" parameterType="resources">
        UPDATE resources SET 
            <trim>
                <if test="pid != null ">
                pid = #{pid},
                </if>
                <if test="authId != null">
                authId = #{authId}
                </if>
                <if test="name != null ">
                name = #{name},
                </if>
                <if test="displayName != null ">
                displayName = #{displayName},
                </if>
                <if test="url != null ">
                url = #{url},
                </if>
                <if test="withParam != null">
                withParam = #{withParam}
                </if>
                <if test="type != null ">
                type = #{type},
                </if>
                <if test="sort != null ">
                sort = #{sort},
                </if>
                <if test="describes != null ">
                describes = #{describes},
                </if>
                <if test="locking != null">
                locking = #{locking}
                </if>
                <if test="state != null ">
                state = #{state,jdbcType=TINYINT},
                </if>
                <if test="delflag != null ">
                delflag = #{delflag,jdbcType=TINYINT}
                </if>
            </trim>
         WHERE id = #{id}
    </update>
    
    <update id="updateFull" parameterType="resources">
        UPDATE resources SET 
            pid = #{pid},
            `displayName` = #{displayName},
            authId = #{authId},
            url = #{url},
            sort = #{sort},
            describes = #{describes}
         WHERE id = #{id}
    </update>

    <select id="get" parameterType="resources" resultType="resources">
        SELECT 
        <include refid="base_column" />
        FROM resources re
        <where>
        <trim prefixOverrides="AND">
        <if test="id != null">
        AND id = #{id}
        </if>
        <if test="name != null">
        AND `name` = #{name}
        </if>
        <if test="delflag != null">
        AND delflag = #{delflag}
        </if>
        </trim>
        </where>
        
    </select>
    
    <select id="getList" resultMap="AdditionMap" parameterType="resources">
        SELECT 
        <include refid="addition_column"/>
        FROM resources re
    <include refid="list_params" />
    </select>
    
    <select id="getSimpleList" parameterType="resources" resultType="resources" >
    SELECT 
        re.id, re.`name`,re.displayName, re.url, re.type
    FROM resources re
    <include refid="list_params" />
    </select>
    
    <select id="getModuleResourcesList" resultType="resources">
    SELECT 
        re.id, re.pid, re.`name`, re.displayName, re.url, re.`type`, re.sort
	FROM resources re 
	LEFT JOIN authorities au ON re.authId = au.id 
	LEFT JOIN authorities_ouser au_ou ON au.id = au_ou.auth_id
	WHERE
	    au_ou.user_id = #{userId}
	AND re.`type` in (${types}) 
	AND re.delflag = #{delflag}
	AND au.delflag = #{delflag} 
	AND au_ou.delflag = #{delflag} 
	AND re.`state` = #{state}
	GROUP BY re.id
	ORDER BY re.`type`, re.sort 
    </select>

</mapper>